h3{
    font: size 25px !important;
}
.btn-success:hover{
    background-color: rgb(43, 226, 177);
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(216, 148, 112);}
    to{box-shadow: 1px 1px 38px greenyellow;}

}